@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Heebo:900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap");
@font-face {
  font-family: "Memo Wombat";
  src: url(https://stuffedwomb.at/qomp/img/Memo%20Wombat.ttf) format("truetype");
}
:root {
  --black: #1d1920;
  --blue: #1565C0;
  --yellow: rgb(241, 243, 112);
  --pink: #DE785B;
  --white: #CCC9CE;
  --color-text: var(--black);
  --color-body: var(--white);
  --font-primary: "Memo Wombat", sans-serif;
  --font-secondary: "Manrope", sans-serif;
  --heading-letter-spacing: 0.025em;
  --heading-font-family: var(--font-primary);
  --page-width: $bp-large;
  --base-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--color-body);
  font-family: var(--font-secondary);
  overflow-x: hidden;
}

a {
  color: var(--blue);
}

.whitespace {
  padding: 0.2em;
}

.featured-content {
  position: relative;
}

.feature {
  position: relative;
  width: 100%;
  background-color: var(--black);
}
@media (min-width: 800px) {
  .feature {
    overflow: hidden;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 100vh;
  }
}
.feature:nth-child(2n) {
  background-color: var(--white);
}
.feature:nth-child(3n) {
  background-color: var(--black);
}
@media (min-width: 800px) {
  .feature:nth-child(odd) .feature-inner {
    flex-direction: row-reverse;
  }
  .feature:nth-child(odd) .feature-image-container {
    margin-right: 4rem;
    transform: translateX(-2rem);
  }
  .feature:nth-child(odd).show-feature .feature-image-container {
    transform: translateX(0%);
  }
}
@media (min-width: 800px) {
  .feature:nth-child(even) .feature-inner {
    flex-direction: row;
  }
  .feature:nth-child(even) .feature-image-container {
    margin-left: 4rem;
    transform: translateX(2rem);
  }
  .feature:nth-child(even).show-feature .feature-image-container {
    transform: translateX(0%);
  }
}

.feature-inner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  max-width: 1450px;
}
@media (min-width: 800px) {
  .feature-inner {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100vh;
  }
}
.feature-inner > * {
  flex: 0 1 50%;
}

.feature-image-container {
  position: relative;
  margin-top: 2rem;
  opacity: 0;
  transition: opacity 0.5s var(--base-timing-function), transform 0.5s var(--base-timing-function);
}
.show-feature .feature-image-container {
  opacity: 1;
}
@media (min-width: 800px) {
  .feature-image-container {
    margin-top: 0;
    max-width: 70vmin;
  }
}
.feature-image-container img.feature-image {
  position: relative;
  width: 100%;
  vertical-align: bottom;
  z-index: 2;
}

.feature-copy {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.5s var(--base-timing-function), transform 0.5s var(--base-timing-function);
}
.show-feature .feature-copy {
  opacity: 1;
  transform: translateY(0);
}

.feature-headline {
  font-size: calc(2rem + 5vmin);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
}

.feature-subheadline {
  margin-top: -1rem;
  font-size: calc(1.6rem + 2.5vmin);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
}

.feature-text {
  margin-top: 5rem;
  font-size: calc(1rem + 0.5vmin);
  font-family: var(--font-secondary);
  line-height: 1.4;
}

.logo {
  background: 50% 100% no-repeat url(https://gustavochico.com/img/etc/qomp.svg);
  background-size: contain;
  height: 300px;
  margin-bottom: -9.5%;
}

ul.nav {
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
  justify-content: center;
}
ul.nav li {
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul.nav li a {
  position: relative;
  display: block;
  padding: 4px 0;
  color: var(--white);
  font-family: var(--font-secondary);
  text-decoration: none;
  transition: 0.5s;
}
ul.nav li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--pink);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
ul.nav li a:hover {
  color: var(--pink);
  cursor: pointer;
}
ul.nav li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.accordion {
  --expand:100%;
  width: 69vmin;
  height: 52vmin;
  display: flex;
  overflow: hidden;
}
.accordion li {
  flex: 1 1 auto;
  transition: width 0.3s;
  width: 0;
}
.accordion li img {
  height: 100%;
}
.accordion li:first-of-type {
  width: var(--expand);
}
.accordion:hover li {
  width: 0;
}
.accordion:hover li:hover:second-of-type {
  width: 100%;
}

ul.icons {
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}
ul.icons li {
  padding: 0px 30px;
  line-height: 1.4;
}
ul.icons li a {
  position: relative;
  display: block;
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}
ul.icons li a::after {
  position: absolute;
  content: "";
  top: 97%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--pink);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
ul.icons li a:hover {
  color: var(--pink);
  cursor: pointer;
}
ul.icons li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* YT */
.lazy-youtube {
  width: 70%;
  background-color: #1D1A1F;
  position: relative;
  overflow: hidden;
  padding-top: 39.7%;
  margin-bottom: 0%;
  cursor: pointer;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.lazy-youtube img {
  width: 110%;
  left: -5%;
  opacity: 0.7;
  top: -60px;
}

.lazy-youtube .play-button {
  width: 80px;
  height: 80px;
  z-index: 1;
  opacity: 0.9;
  border-radius: 50px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.lazy-youtube .play-button:hover {
  border-color: #696969;
  width: 49px;
  height: 49px;
}

.lazy-youtube .play-button:hover:before {
  border-color: transparent transparent transparent #696969;
  border-width: 15px 0 15px 22px;
}

.lazy-youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  margin-left: 3px;
  transition: 0.3s;
}

.lazy-youtube img, .lazy-youtube .play-button {
  cursor: pointer;
}

.lazy-youtube img, .lazy-youtube iframe, .lazy-youtube .play-button, .lazy-youtube .play-button:before {
  position: absolute !important;
}

.lazy-youtube .play-button, .lazy-youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.lazy-youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.coming {
  font-size: calc(3.5rem + 1.5vw);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.5%;
}

.wishlist {
  font-size: calc(4.7rem + 2vw);
  font-family: var(--heading-font-family);
  letter-spacing: var(--heading-letter-spacing);
  color: var(--white);
  text-align: center;
  width: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  background-image: linear-gradient(to right, var(--pink) 0, var(--pink) 100%);
  background-position: 0 1.15em;
  background-size: 100% 5%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  text-decoration: none;
}
.wishlist:hover {
  background-size: 0 5%;
  cursor: pointer;
}